<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleIdentifier</key>
  <string>com.wrkstrm.foundry.audit.translate</string>
  <key>CFBundleName</key>
  <string>Translate Audit</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>DocCBundleIdentifier</key>
  <string>com.wrkstrm.foundry.audit.translate</string>
  <key>DocCBundleDisplayName</key>
  <string>Translate Audit</string>
  <key>DocCBundleRootReference</key>
  <string>doc://com.wrkstrm.foundry.audit.translate/documentation/translate</string>
</dict>
</plist>